.percentage-cell { 
    position: relative;
 }

.percentage-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#e66465, #9198e5);
    transform: scaleY(-1);
    background-repeat: no-repeat;
    z-index: -10;
}
