.remove-btn-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.row-number {
    font-weight: 600;
}

.table-row {
    border-bottom: 1.5px solid rgb(236, 236, 236);
}


