header {
    width: 100%;
    background-color: rgb(237, 237, 237);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    padding: 1em;
}

input {
    width: 50px;
    margin: 0 2em 0 0.8em;
    font-size: 1.2em;
}