table {
    width: 100%;
    border-collapse: collapse;  
}

.table-container {
    margin-top: 2.5em;
    margin-bottom: 2em;
    max-width: 1280px;
    overflow-x: scroll;
}

td {
    padding: .8em 1em;
    border-right: 2px solid white;
}

th {
    border-right: 2px solid white;
    padding: .3em .5em;
}

thead {
    background-color: rgb(242, 242, 242);
}

.text-bold {
    font-weight: 600;
}


.illuminated {
    background-color: cadetblue;
}
