table {
    width: 100%;
    border-collapse: collapse;
    
   
   
}

.table-container {
    margin-top: 2.5em;
    margin-bottom: 2em;
    max-width: 1280px;
    overflow-x: scroll;
}

td {
    padding: .5em 1em;
}
